@-webkit-keyframes zoomIn {
    0% {-webkit-transform: scale(0.1, 0.1);transform: scale(0.1, 0.1); opacity: 0.0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";}
    50% {opacity: 1.0;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
    100% {-webkit-transform: scale(1.0);transform: scale(1.0); opacity: 1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
}

@keyframes zoomIn {
    0% {-webkit-transform: scale(0.1, 0.1);transform: scale(0.1, 0.1); opacity: 0.0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";}
    50% {opacity: 1.0;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
    100% {-webkit-transform: scale(1.0);transform: scale(1.0); opacity: 1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
}

@-webkit-keyframes fadeInDown {
   0% {
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      -webkit-transform: translateY(-40px);
              transform: translateY(-40px);
   }
   100% {
      opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      -webkit-transform: translateY(0);
              transform: translateY(0);
   }
}

@keyframes fadeInDown {
   0% {
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      -webkit-transform: translateY(-40px);
              transform: translateY(-40px);
   }
   100% {
      opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      -webkit-transform: translateY(0);
              transform: translateY(0);
   }
} 

@-webkit-keyframes glow{
    from{
        -webkit-filter: drop-shadow(0px 1px 8px rgba(236, 209, 16, 0.95));
    }
    to{
        -webkit-filter: drop-shadow(0px 0 0 rgba(236, 209, 16, 0.95));
    }
} 

@keyframes glow{
    from{
        -webkit-filter: drop-shadow(0px 1px 8px rgba(236, 209, 16, 0.95));
    }
    to{
        -webkit-filter: drop-shadow(0px 0 0 rgba(236, 209, 16, 0.95));
    }
}

.glow{
    -webkit-animation: glow 2s ease-in-out alternate infinite;
            animation: glow 2s ease-in-out alternate infinite;
}

.zoomIn {
    -webkit-animation: zoomIn 2s forwards;
            animation: zoomIn 2s forwards;
}

.fadeInDown {
    -webkit-animation: fadeInDown 2s forwards;
            animation: fadeInDown 2s forwards;
}


/*Overlay*/

.overlay {
    position: absolute;
    z-index: 101;
    top: 0;
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    width: 300px;
    height: 100%;

    div.right, div.left  {
      position: absolute;
      z-index: 101;
      top: 0;
      bottom: 0;
      width: 150px;
      background: rgba(0,0,0,0.5);
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-align-content: center;
          -ms-flex-line-pack: center;
              align-content: center;
  }
  div.right{
    right:  0;
  }
  div.left{
    left: 0;
  }
}

.absolute--center{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.shadowed {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur in="SourceAlpha" stdDeviation="25" /><feOffset dx="13" dy="13" result="offsetblur" /><feFlood flood-color="rgba(239,211,12,0.85)" /><feComposite in2="offsetblur" operator="in" /><feMerge><feMergeNode /><feMergeNode in="SourceGraphic" /></feMerge></filter></svg>#filter');
    -webkit-filter: drop-shadow(12px 12px 25px rgba(239, 211, 12, 0.85));
            filter: drop-shadow(12px 12px 25px rgba(239, 211, 12, 0.85));
}

.shadowed2 {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur in="SourceAlpha" stdDeviation="25" /><feOffset dx="13" dy="13" result="offsetblur" /><feFlood flood-color="rgba(239,211,12,0.85)" /><feComposite in2="offsetblur" operator="in" /><feMerge><feMergeNode /><feMergeNode in="SourceGraphic" /></feMerge></filter></svg>#filter');
    -webkit-filter: drop-shadow(12px 12px 25px rgba(239, 211, 12, 0.85));
            filter: drop-shadow(12px 12px 25px rgba(239, 211, 12, 0.85));
}

/* Overlay */

.overlay .logo{
  width: 250px;
  height: 250px;
  z-index: 102;

  svg {

    path, rect, polygon {
      @extend .svgCommon;
      stroke-width: .25px;
      -webkit-animation: dash-logo 3s linear forwards 1s, FillIn 1s linear forwards 2.25s;
      animation: dash-logo 4s linear forwards 1s,FillIn 1s linear forwards 2.25s;
    }
     text {
      stroke: #FFF !important;
      @extend .svgCommon;
      -webkit-animation: dash-logo 5s linear forwards 1.75s, FillIn 1s linear forwards 2.25s;
      animation: dash-logo 5s linear forwards 1.75s,FillIn 1s linear forwards 2.25s, glow 2s ease-in-out alternate infinite 2.25s;
    }
  }

  img{
    position: absolute;
    max-width: 100%;
  }
}

.overlayOpenRight{
  -webkit-animation: slideRight 1s ease-out forwards;
          animation: slideRight 1s ease-out forwards;
}
.overlayOpenLeft{
  -webkit-animation: slideLeft 1s ease-out forwards;
          animation: slideLeft 1s ease-out forwards;
}

@-webkit-keyframes slideLeft{
    0{
        -webkit-transform: translateX(0);
                transform: translateX(0)
    }
    100%{
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%)
    }
}

@keyframes slideLeft{
    0{
        -webkit-transform: translateX(0);
                transform: translateX(0)
    }
    100%{
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%)
    }
}

@-webkit-keyframes slideRight{
    0{
        -webkit-transform: translateX(0);
                transform: translateX(0)
    }
    100%{
        -webkit-transform: translateX(100%);
                transform: translateX(100%)
    }
}

@keyframes slideRight{
    0{
        -webkit-transform: translateX(0);
                transform: translateX(0)
    }
    100%{
        -webkit-transform: translateX(100%);
                transform: translateX(100%)
    }
}

/*SVG LOGO*/

.top.Right{
  svg{
    path, rect, polygon {
      stroke: #FFF !important;
      stroke-width: 1px !important;
      @extend .svgCommon;
      -webkit-animation: dash 3s linear forwards .5s, FillIn .5s linear forwards 1.25s; 
      animation: dash 3s linear forwards .5s, FillIn .5s linear forwards 1.25s;
    }
  }
}

.frameOne{
  svg {

    path, rect, polygon {
      @extend .svgCommon;
      stroke-width: .25px;
      -webkit-animation: dash-logo 5s linear forwards 1s, FillIn 1s linear forwards 2.25s;
      animation: dash-logo 5s linear forwards 1s,FillIn 1s linear forwards 2.25s;
    }

    text {
      stroke: #FFF !important;
      @extend .svgCommon;
      -webkit-animation: dash 5s linear forwards 1.75s, FillIn 1s linear forwards 2.25s;
      animation: dash 5s linear forwards 1.75s,FillIn 1s linear forwards 2.25s, glow 2s ease-in-out alternate infinite 2.25s;
    }

    circle {
        @extend .svgCommon;
        -webkit-animation: dash 5s linear forwards;
        animation: dash 5s linear forwards;
    }
    .logo0{
        stroke-width: 10px;
    }
    .logo1{
      stroke-width: 2px;
    }
    .logo0, .logo1, .logo2{ //Logo Color
      stroke: #FFF !important;
      fill: #FFF;
    }
  }
}

.svgCommon{
    fill-opacity: 0;
    stroke: #231f20;
    stroke-width: .75px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 1700;
    stroke-dashoffset: 1700;
  }

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-logo {
  to {
    stroke-dashoffset: 0;
    stroke-width: 0px;
  }
}
@keyframes dash-logo {
  to {
    stroke-dashoffset: 0;
    stroke-width: 0px;
  }
}

@-webkit-keyframes FillIn {
  from { fill-opacity: 0; }
  to { fill-opacity: 1; }
}

@keyframes FillIn {
  from { fill-opacity: 0; }
  to { fill-opacity: 1; }
}

/*Sand Animations*/

.fall{
  -webkit-animation: sandFall 5s linear forwards;
          animation: sandFall 5s linear forwards;
}

.rise{
  -webkit-animation: sandRise 2.5s linear forwards 1.5s;
          animation: sandRise 2.5s linear forwards 1.5s;
}

@-webkit-keyframes sandFall {
  from { -webkit-transform: translateY(-55%); transform: translateY(-55%); }
  to { -webkit-transform: translateY(100%); transform: translateY(100%);  }
}

@keyframes sandFall {
  from { -webkit-transform: translateY(-55%); transform: translateY(-55%); }
  to { -webkit-transform: translateY(100%); transform: translateY(100%);  }
}

@-webkit-keyframes sandRise {
  from { -webkit-transform: translateY(35%); transform: translateY(35%); }
  to { -webkit-transform: translateY(0%); transform: translateY(0%);  }
}

@keyframes sandRise {
  from { -webkit-transform: translateY(35%); transform: translateY(35%); }
  to { -webkit-transform: translateY(0%); transform: translateY(0%);  }
}