.input-wrapper.terms {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  max-width: 215px;
  margin: 0 auto;
  text-align: center;

  [type="checkbox"] {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    &:checked{
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      position: absolute;
      left: -9999px;
      &+ label{
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
          @extend .checkbox-label;
          a{
            cursor: pointer;
          }
          &:before{
            @extend .checkbox-before;
          }
          &:after{
            @extend .checkbox-after;
            opacity: 1;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            -webkit-transform: scale(1);
                -ms-transform: scale(1);
                    transform: scale(1);
          }
      }
    }
    &:before{
      cursor: pointer;
    }
    &:not(:checked){
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      position: absolute;
      left: -9999px;

      &+ label{
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        @extend .checkbox-label;
        &:before{
          @extend .checkbox-before;
        }
        &:after{
          @extend .checkbox-after;
          opacity: 0;
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
          -webkit-transform: scale(0);
              -ms-transform: scale(0);
                  transform: scale(0);
        }
      }
    }
  }

  .checkbox-label{
    position: relative;
    padding-left: 25px;
    color: #FFF;
  }
  .checkbox-before{
    content: '';
    position: absolute;
    left: -10px;
    top: 0;
    width: 25px;
    height: 25px;
    background: url(../images/3rd/box.png) no-repeat center;
  }
  .checkbox-after{
    content: '✔';
    position: absolute;
    top: .35em;; left: -3px;
    font-size: 1.3em;
    line-height: 0.8;
    color: #FFF;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
}