footer.footer{
	position: absolute;
	bottom: 0;
	background: url('../images/common/PledgeOMETER.png') center no-repeat;
	height: 175px;
	width: 100%;
	z-index: 100;

	*{
		-webkit-transition: .5s ease;
              	transition: .5s ease;
	}

	.footer-top {
	    position: absolute;
	    bottom: 120px;
	    right: 0;
	    z-index: 101;

	    img {
	    	max-width: 100px;
		}
	}

	.text {
	    position: relative;
	    top: 15px;
	}

	.text.center{
		-webkit-transform: translateX(48px);
		    -ms-transform: translateX(48px);
		        transform: translateX(48px);
	}

	.share{
		@extend .share;
		bottom: 0;
      	right: 5px;
	}
}