/*Contact Form*/
.frame.frameTwo{

  form[name="pledgeForm"], .pledge-form {
      padding: 1em;
      text-align: center;
      text-align: center;

      .header{
         font-family: header;
         color: #FFF;
         img{
          margin-left: -15px;
         }

          h1 {
            margin: 0;
            font-size: 60px;
            margin-left: -15px;
          }

          h3 {
            margin: 0;
            font-size: 32px;
          }
      }
      .form-control{
        height: 25px;
      }
      label{
        margin: 0;
      }
      p{
        color: #ffffff;
        font-family: form;
        font-size: 16px;
        margin: 0 0;
      }
      p.slab{
        font-family: header;
        text-align: left;
        font-size: 15px;
        margin: 0;
        &+ div{
          margin: .25em 0;
        }
      }
      .input-wrapper{
        margin: .5em 0;
        position: relative;

        label:not(.terms){
          font-family: form;
          word-wrap: break-word;
          color: #FFF;
          display: inline-block;
          position: absolute;
          left: 0;
          top: 5px;
          max-width: 60px;
          text-transform: capitalize;
          text-align: left;
          font-size: 13px;

          &+ input{
            height: 20px;
          }
          &+ input#email{
            margin-left: 40px;
            max-width: 75% !important;
          }
          &+ input#phone{
              margin-left: 55px;
              max-width: 70% !important;
              margin-top: 15px;
          }
        }

        p.help-block {
            position: absolute;
            bottom: -22px;
            left: 70px;
            color: #d05858;
            font-size: 14px;
            background-color: transparent;
        }
        input{
          max-width: 80% !important;
          width: 100%;
          margin: 0 auto;
          -webkit-border-radius: 0;
                  border-radius: 0;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          outline: none;
          color: #FFF;
          display: inline-block;
        }
        input.form-control {
            padding: 0 .5em;
            border: none;
            background: rgba(0, 0, 0, 0.1);
        }
        input#name{
          margin-left: 15px;
        }
      }
      .input-wrapper.name{
        margin-bottom: 1em;
        &+ p{
          margin-bottom: .5em;
        }
        &:after{
            content:'';
            position: absolute;
            width: 100%;
            height: 5px;
            bottom: -5px;
            left: 9px;
        }
        p.help-block{
          left: 60px;
        }
      }
      .input-wrapper.email{
        &:after{
            content:'';
            position: absolute;
            width: 80%;
            height: 5px;
            bottom: -5px;
            left: 46px;
        }
      }
      .input-wrapper.phone{
        &:after{
            content:'';
            position: absolute;
            width: 75%;
            height: 5px;
            bottom: -5px;
            left: 60px;
        }
      }
      .input-wrapper.terms{
        top: 10px;
        label{
          max-width: 100%;
          font-size: 12px;
          a{
            color: #000;
          }
        }
      }

      button.btn.btn-primary.btn-lg {
            text-align: center;
            background: url(../images/3rd/submit.png) no-repeat center;
            width: 150px;
            height: 50px;
            border: none;
            cursor: pointer;
            outline: none;
            -webkit-transition: .2s linear;
            transition: .2s linear;
      }
      .btn.disabled, .btn[disabled] {
          cursor: not-allowed;
          filter: alpha(opacity=65);
          -webkit-box-shadow: none;
          box-shadow: none;
          opacity: .65;
      }

      .input-wrapper.name:after{  
        background: url(../images/3rd/name.png) no-repeat center;
      }
      .input-wrapper.email:after{  
        background: url(../images/3rd/name.png) no-repeat center;
      }
      .input-wrapper.phone:after{  
        background: url(../images/3rd/name.png) no-repeat center;
      }

      @import 'checkbox.scss';

      .error{
        border-color: rgba(251,34,34,.75) !important;
        outline: 0 !important;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(233, 102, 102, 0.6) !important;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(249, 0, 0, 1) !important;
      }

      ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #FFF;
        text-align: center;
        font-size: 12px;
        font-style: italic;
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color: #FFF;
        text-align: center;
        font-size: 12px;
        font-style: italic;
      }
      :-ms-input-placeholder { /* IE 10+ */
        color: #FFF;
        text-align: center;
        font-size: 12px;
        font-style: italic;
      }
      :-moz-placeholder { /* Firefox 18- */
        color: #FFF;
        text-align: center;
        font-size: 12px;
        font-style: italic;
      }
  }
}