.frames-wrapper{
      width: 300%;
      height: 100%;
      position: relative;

      .frame{
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          width: 100%;
          max-width: 300px;
          height: 100%;
          display: inline-block;
          background: url('../images/common/background.jpg') center no-repeat;
          background-size: cover;
          -webkit-transition: .75s ease-in-out;
          transition: .75s ease-in-out;
      }
      .frame.frameOne{
        z-index: 1;

         .top {
            width: 135px;
            float: left;
            margin-top: 1em;
            z-index: 4;
            position: relative;
        }
        .top.Right{
          width: 160px;
          img{
            position: absolute;
            top: 17px;
            left: 31px;
            width: 120px;
          }
        }
        .top.Left {
            left: .5em;
        }
         .machine {
              position: relative;
              top: -15px;
              left: 60px;
              float: left;
              z-index: 3;
              img{
                  max-width: 190px;
                  transition: 1s ease;
              }
          }
      }
      .frame.frameFour{
        div#machine{
          position: relative;
          overflow: hidden;
          height: 418px;
          width: 100%;

          img {
              position: absolute;
              -webkit-transition: .5s ease;
              transition: .5s ease;
          }

          img.machine {
              z-index: 5;
          }

          img.machine-back {
              z-index: 1;
          }

          img.glass {
              z-index: 4;
          }

          div#sand-top {
              position: relative;
              top: 10px;
              width: 100%;
              height: 350px;
              overflow: hidden;
              z-index: 2;
              img.sand {
                  z-index: 2;
                  bottom: 0;
                  -webkit-transform: translateY(-55%);
                      -ms-transform: translateY(-55%);
                          transform: translateY(-55%);
              }
          }

          div#sand-bottom {
              position: relative;
              bottom: 300px;
              width: 100%;
              height: 350px;
              overflow: hidden;
              z-index: 3;
              img.sand-bottom {
                  z-index: 3;
                  bottom: 0;
                  -webkit-transform: translateY(35%);
                      -ms-transform: translateY(35%);
                          transform: translateY(35%);
              }
          }
        }
      }
      .frame.frameThree{
        -webkit-transform: translateX(100%);
            -ms-transform: translateX(100%);
                transform: translateX(100%);

        .share{
          @extend .share;
          bottom: 62%;
          right: 10px;
          p{
            font-size: 12px;
          }
          img{
            max-width: 30px;
          }
        }
      }
      .frame.frameTwo.active{
        -webkit-transform: translateX(0%);
            -ms-transform: translateX(0%);
                transform: translateX(0%);
        z-index: 3;
      }
      .frame.frameTwo{
        -webkit-transform: translateX(100%);
            -ms-transform: translateX(100%);
                transform: translateX(100%);
      }
      .frame.frameTwo.off{
        -webkit-transform: translateX(100%);
            -ms-transform: translateX(100%);
                transform: translateX(100%);
        z-index: 3;
      }
      .frame.frameThree{
        background: url('../images/4th/background.jpg') center no-repeat;
      }
      .frame.frameThree.active{
        -webkit-transform: translateX(0%);
            -ms-transform: translateX(0%);
                transform: translateX(0%);
        z-index: 2;
      }
      .frame.frameFour.active{
        z-index: 2;
      }
      .frame.frameFour.off{
        -webkit-transform: translateX(-100%);
            -ms-transform: translateX(-100%);
                transform: translateX(-100%);
        z-index: 2;
      }
}