doctype html
html(ng-app="dbexport")
	head
		title= title
		link(rel='stylesheet', href='stylesheets/fonts.css')
		link(rel='stylesheet', href= CDN + 'stylesheets/style.css')
		meta(name="viewport",content="width=device-width initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="IE=11")
		<meta name="acbaa008614e1dc9dd7b59f829ffcf7b593e7373" content="056ba7669cc7b3949b92058ef09e6efa7e3d30a0" />
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
		script(src= CDN + "javascripts/ieFix.js", type="text/javascript")
		!=analytics

	body(ng-controller="mainController")
		block content

	script(src= CDN + "javascripts/export.js", type="text/javascript")
	script(src= CDN + "javascripts/tracking.js", type="text/javascript")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.2/angular.min.js", integrity="sha384-dnb2919qR2EQMBO14MaJP3Bz8riwXj67BaeMJSmVEshMxuN8697WhSDQmz0syAAX", crossorigin="anonymous")
	script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-route.min.js")
	script(type="text/javascript",src= CDN +"javascripts/app.js")