include ../partials/mixins

footer.footer.hide
	div.footer-top
		+images()(src= CDN + "images/1st/footer-top.png",alt="DB Export Promo Footer Top")
	div.text
		+images()(src= CDN + "images/common/footer-text.png",alt="DB Export Promo Footer Top")
	div.share
		p Share
		a(href=facebook, target="_blank", class="footer-facebook-click")
			+images()(src= CDN + "images/common/facebook.png",alt="DB Export Facebook Logo")
		a(href=twitter,target="_blank", class="footer-twitter-click")
			+images()(src= CDN + "images/common/twitter.png",alt="DB Export Twitter Logo")