include ../partials/mixins

block frameTwo
	.frame.frameTwo
		.pledge-form
			form(name="pledgeForm",novalidate)
					div.header
						+images()(src= CDN + "images/2nd/header.png",alt="DB Export Logo")
					<!-- NAME -->
					.form-group.input-wrapper.name(ng-class="{ 'has-error' : pledgeForm.name.$invalid && !pledgeForm.name.$pristine }")
						p I
							input(type="text", class="form-control", placeholder="Insert Name Here", ng-model="formData.name", name="name",id="name", required)
						p(ng-show="pledgeForm.name.$invalid && !pledgeForm.name.$pristine", class="help-block") You name is required.
					p Pledge to do my bit to save the beaches
					p.slab 
						+images()(src= CDN + "images/2nd/details.png",alt="DB Export Logo")
					<!-- EMAIL -->
					.form-group.input-wrapper.email(ng-class="{ 'has-error' : pledgeForm.email.$invalid && !pledgeForm.email.$pristine }")
						label email :
						input(type="email", class="form-control", placeholder="", ng-model="formData.email", name="email",id="email", model="user.email", required)
						p(ng-show="pledgeForm.email.$invalid && !pledgeForm.email.$pristine", class="help-block") Enter a valid email.
						p(class="help-block help-message")
					<!-- PHONE -->
					.form-group.input-wrapper.phone
						label Phone Number : 
						input(type="phone", class="form-control", placeholder="", ng-model="formData.phone", name="phone",id="phone", required)
						p(ng-show="pledgeForm.phone.$invalid && !pledgeForm.phone.$pristine", class="help-block") You phone is required.
						p(class="help-block help-message")
					<!-- TERMS -->
					.form-group.input-wrapper.terms
						input(type="checkbox", class="form-control ng-not-empty", ng-model="formData.terms", hidden, name="terms",id="terms", checked, required)
						label(for="terms").terms I am over 18 and agree to the competition 
							a(href="static/terms.pdf", target="_blank") terms & conditions 

				button(type="submit", class="btn btn-primary btn-lg", ng-click="pledge()",ng-disabled="pledgeForm.$invalid")