include ../partials/mixins

block frameThree
	.frame.frameThree
		div.share
			p Share
			a(href=facebook, target="_blank", class="frame-facebook-click")
				+images()(src= CDN + "images/common/facebook.png",alt="DB Export Facebook Logo")
			a(href=twitter,target="_blank", class="frame-twitter-click")
				+images()(src= CDN + "images/common/twitter.png",alt="DB Export Twitter Logo")