include ../partials/mixins

block frameFour
	.frame.frameFour.hide
		div#machine
			+images()(src= CDN + "images/4th/machine.png",alt="DB Export Logo").machine
			+images()(src= CDN + "images/4th/machine-back.png",alt="DB Export Logo").machine-back
			+images()(src= CDN + "images/4th/glass.png",alt="DB Export Logo").glass
			div#sand-top
				+images()(src= CDN + "images/4th/sand.png",alt="DB Export Logo").sand
			div#sand-bottom
				+images()(src= CDN + "images/4th/sand-bottom.png",alt="DB Export Logo").sand-bottom