include ../partials/mixins

block frameOne
	.overlay
		div.right
		div.left
		+images()(src= CDN + "images/common/background-overlay.jpg",alt="DB Export Promo Background")
		.logo.absolute--center
			include ../../public/images/1st/logo.svg
	.frame.frameOne
		.top.Left.hide
			include ../../public/images/1st/leftlogo.svg
		.top.Right.hide
			include ../../public/images/1st/circle.svg
			+images()(src= CDN + "images/1st/pledge.png",alt="DB Export Promo Description Text").topText.hide
		.machine
			+images()(src= CDN + "images/1st/machine.png",alt="DB Export Promo Machine").invisible


