extends templates/layout

block content
	.body-wrapper
		.frames-wrapper
			include partials/frameOne
			include partials/frameTwo
			include partials/frameThree
			include partials/frameFour
		include partials/footer
