@font-face {
    font-family: header;
    src: url('fonts/nexarustslab-blackshadow01-webfont.woff2') format('woff2'),
         url('fonts/nexarustslab-blackshadow01-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: form;
    src: url('fonts/nexa_bold-webfont.woff2') format('woff2'),
         url('fonts/nexa_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}