body {
	.overlay{
		svg{
			circle{
				-webkit-animation: none !important;
				        animation: none !important;
			}
			circle {
				fill: none !important;
				stroke-dasharray: 0;
    			stroke-dashoffset: 0;
			}
			path{
				fill-opacity: 1 !important;
				-webkit-animation: zoomIn 2s ease !important;
				animation: zoomIn 2s ease !important;
			}
		}
	}

	.frameOne{
		.top {
			svg{
				path, rect,polygon{
					fill-opacity: 1 !important;
					stroke-dasharray: 0 !important;
    				stroke-dashoffset: 0 !important;
				}
			}
		}
		.top.Right{
			svg{
				-webkit-animation: zoomIn 2s ease !important;
						animation: zoomIn 2s ease !important;
			}
			img{
				display: block !important;
				-webkit-animation: zoomIn 2s ease !important;
						animation: zoomIn 2s ease !important;
			}
		}
		.top.Left{
			svg{
				-webkit-animation: fadeInDown 2s ease !important;
						animation: fadeInDown 2s ease !important;
			}
		}
	}

	@-webkit-keyframes zoomIn {
	    0% {-webkit-transform: scale(0.1, 0.1);transform: scale(0.1, 0.1); opacity: 0.0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";}
	    50% {opacity: 1.0;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
	    100% {-webkit-transform: scale(1.0);transform: scale(1.0); opacity: 1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
	}

	@keyframes zoomIn {
	    0% {-webkit-transform: scale(0.1, 0.1);transform: scale(0.1, 0.1); opacity: 0.0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";}
	    50% {opacity: 1.0;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
	    100% {-webkit-transform: scale(1.0);transform: scale(1.0); opacity: 1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
	}

	@-webkit-keyframes fadeInDown {
	   0% {
	      opacity: 0;
	      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	      -webkit-transform: translateY(-40px);
	              transform: translateY(-40px);
	   }
	   100% {
	      opacity: 1;
	      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	      -webkit-transform: translateY(0);
	              transform: translateY(0);
	   }
	}

	@keyframes fadeInDown {
	   0% {
	      opacity: 0;
	      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	      -webkit-transform: translateY(-40px);
	              transform: translateY(-40px);
	   }
	   100% {
	      opacity: 1;
	      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	      -webkit-transform: translateY(0);
	              transform: translateY(0);
	   }
	}
}