@import './stylesheets/animate.scss';

.hide{
  display: none;
}

body {
  width: 300px;
  height: 600px;
  padding: 0;
  margin: 0;
  color: #FFFFFF;
  font-family: form;
  position: relative;

  .share {
      position: absolute;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      color: #FFF;

      img {
        max-width: 20px;
        margin: 0 5px;
        cursor: pointer;
       -webkit-transition: .25s ease;
          transition: .25s ease;
        &:hover {
          filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tableValues="1 0" /><feFuncG type="table" tableValues="1 0" /><feFuncB type="table" tableValues="1 0" /></feComponentTransfer></filter></svg>#filter');
          -webkit-filter: invert(1);
                  filter: invert(1);
      }
    }

    p {
        margin: 0;
        text-transform: uppercase;
        font-family: form;
        font-size: 10px;
        position: relative;
        top: 1px;
    }
  }

  .body-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;

    @import './stylesheets/animations.scss';
    @import './stylesheets/frames.scss';
    @import './stylesheets/form.scss';
    @import './stylesheets/footer.scss';
  }

  *{
    -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   backface-visibility: hidden;

   -webkit-perspective: 1000;
   -moz-perspective: 1000;
   -ms-perspective: 1000;
   perspective: 1000;
   /* Other transform properties here */

   -webkit-transform: translate3d(0, 0, 0);
   -moz-transform: translate3d(0, 0, 0);
   -ms-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
  /* Other transform properties here */
  }
}